@import './variables';

// Custom variables
@secondary-color: #79D0F1;

// These variable names are exactly as ant design variables
// and are imported in ant design file
@primary-color: #0659FD;
@success-color: #53D769;

// height rules
@height-base: 32px;
@height-lg: 40px;
@height-sm: 24px;

@btn-height-base: @height-base;
@btn-height-lg: @height-lg;
@btn-height-sm: @height-sm;

@btn-border-radius-base: 4px;
@btn-border-radius-sm: 4px;

// Border color
@border-color-base: #E9E9EC; // base border outline a component
@border-width-base: 2px; // width of the border for a component
@border-radius-base: 4px;

// Form
@label-color: black;
@form-item-label-font-size: 12px;

// Inputs
@input-height-base: 48px;
@input-height-lg: 56px;
@input-height-sm: 40px;
@input-outline-offset: 0 0;

// Media queries breakpoints
// Extra small screen / phone
@screen-xs: 480px;
@screen-xs-min: @screen-xs;

// Small screen / tablet
@screen-sm: 576px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: 768px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: 992px;
@screen-lg-min: @screen-lg;

// Extra large screen / full hd
@screen-xl: 1200px;
@screen-xl-min: @screen-xl;

// Extra extra large screen / large desktop
@screen-xxl: 1600px;
@screen-xxl-min: @screen-xxl;

// provide a maximum
@screen-xs-max: (@screen-sm-min - 1px);
@screen-sm-max: (@screen-md-min - 1px);
@screen-md-max: (@screen-lg-min - 1px);
@screen-lg-max: (@screen-xl-min - 1px);
@screen-xl-max: (@screen-xxl-min - 1px);

// Outline
@outline-blur-size: 0;
@outline-width: 2px;
@outline-color: @primary-color;
@outline-fade: 20%;
